<main class="bg-[#212529]  py-5">
  <div class="px-5">
    <div class="container mx-auto flex flex-col md:flex-row items-center">
      <div class="md:w-1/2 px-4">
        <p class="text-white text-4xl">Bienvenido {{ user?.name }} a Estramipyme</p>
        <p class="text-gray-400 italic mt-4">"Recuerda que una buena estrategia puede ayudar a transformar desafíos en oportunidades y asegurar un crecimiento sostenible."</p>
      </div>
      <div class="md:w-1/2 mt-4 md:mt-0 flex justify-center bg-[#343a40] shadow-lg rounded-lg p-4">
        <img src="assets/images/imgLanding/tercerImg.png" alt="Imagen de Estramipyme" class="w-full max-w-xs h-auto object-cover rounded-lg">
      </div>
    </div>
  </div>
</main>

<section class="flex-grow flex flex-col md:flex-row justify-between items-center px-5 bg-[#F8F9FA]  py-5">
  <div class="md:w-1/2 flex justify-start">
    <a target="_blank">
      <img class="w-full max-w-xs h-auto" src="assets/images/imgDasCompany/mypyme.png" />
    </a>
  </div>
  <div class="md:w-1/2 flex justify-end">
    <app-info-sec cardTitle="Recursos de información"></app-info-sec>
  </div>
</section>

<section class="flex justify-center w-full gap-x-10 px-5 overflow-x-hidden py-5">
  <div class="card-title mb-3 w-full md:w-1/4">
    <div class="card h-100 shadow-2xl border-0 rounded-lg">
      <img src="assets/images/imgDasCompany/segundaImg.png" alt="" class="card-img-top w-full h-auto rounded-t-lg">
      <div class="card-body p-4 flex flex-col items-center">
        <h3 class="text-lg font-bold mb-2">Realización de Test</h3>
        <p class="mb-4">
          Acá puedes realizar el test que nos ayudará a saber el funcionamiento de tu empresa para conocer si tus estrategias son las correctas.
        </p>
        <button (click)="goToTest()" class="bg-blue-500 text-white w-auto h-auto px-4 py-2 flex justify-center items-center rounded-lg text-center shadow-md">
          <i class="fas fa-play fa-2x"></i>
          <span class="ml-2">Realizar prueba</span>
        </button>
      </div>
    </div>
  </div>
  <div class="card-title mb-3 w-full md:w-1/4">
    <div class="card h-100 shadow-2xl border-0 rounded-lg">
      <img src="assets/images/imgDasCompany/segundaImg.png" alt="" class="card-img-top w-full h-auto rounded-t-lg">
      <div class="card-body p-4 flex flex-col items-center">
        <h3 class="text-lg font-bold mb-2">Estado de la Prueba</h3>
        <p class="mb-4">
          Acá puedes realizar el test que nos ayudará a saber el funcionamiento de tu empresa para conocer si tus estrategias son las correctas.
        </p>
        <button (click)="goToEstado()"   class="bg-gray-500 text-white w-auto h-auto px-4 py-2 flex justify-center items-center rounded-lg text-center shadow-md">
          <i class="fas fa-check fa-2x"></i>
          <span class="ml-2">Estado de la prueba</span>
        </button>
      </div>
    </div>
  </div>
</section>

<!-- Modal para empresas que ya realizaron la prueba -->
<div id="popup-modal" tabindex="-1" 
     [ngClass]="{ 'hidden': !isModalVisible }" 
     class="hidden overflow-y-auto overflow-x-hidden fixed inset-0 z-50 flex justify-center items-center w-full h-screen">
  <div class="relative p-4 w-full max-w-md max-h-full">
      <div class="relative bg-white rounded-lg shadow">
          <button (click)="closeModal()" type="button" class="absolute top-3 end-2.5 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center" data-modal-hide="popup-modal">
              <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                  <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
              </svg>
              <span class="sr-only">Close modal</span>
          </button>
          <div class="p-4 md:p-5 text-center">
              <svg class="mx-auto mb-4 text-black w-12 h-12" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                  <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 11V6m0 8h.01M19 10a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"/>
              </svg>
              <h3 class="mb-5 text-lg font-normal text-black">Ya hiciste la prueba. ¿Deseas volver a realizarla?</h3>
              <button (click)="closeModal()" data-modal-hide="popup-modal" type="button" class="text-white bg-red-600 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 font-medium rounded-lg text-sm inline-flex items-center px-5 py-2.5 text-center">
                  No
              </button>
              <button (click)="goToTestModal()" data-modal-hide="popup-modal" type="button" class="py-2.5 px-5 ms-3 text-sm font-medium text-gray-900 focus:outline-none bg-blue-600 rounded-lg border border-gray-200 hover:bg-blue-700 hover:text-black-700 focus:z-10 focus:ring-4 focus:ring-gray-100">Sí</button>
          </div>
      </div>
  </div>
</div>