<main class="p-4 px-24 flex flex-row h-screen sm:flex-wrap sm:flex-col justify-around background">
  <div class="bg-white text-blue-500 font-bold text-2xl p-6 m-2 rounded-lg shadow-lg border border-blue-700">
    Saludos Empresa {{ user?.name }}
  </div>
  <section class="flex flex-col w-2/5 gap-y-20">
    <button (click)="goToTest()" class="bg-blue-500 text-white w-36 h-20 flex justify-center items-center rounded-2xl text-center">
      <i class="fas fa-play fa-3x"></i>
      <span class="ml-2">Realizar prueba</span>
    </button>
    <button class="bg-gray-500 text-white w-36 h-20 flex justify-center items-center rounded-2xl text-center">
      <i class="fas fa-check fa-2x"></i>
      <span class="ml-2">Estado de la prueba</span>
    </button>
  </section>

  <section class="flex-grow flex flex-col justify-center">
    <app-info-sec cardTitle="Recursos de información">
      <a target="_blank">
        <img class="w-30 h-72" src="assets/mypyme.png" />
      </a>
    </app-info-sec>
  </section>
</main>

<!-- Modal para empresas que ya realizaron la prueba -->
<div id="popup-modal" tabindex="-1" 
     [ngClass]="{ 'hidden': !isModalVisible }" 
     class="hidden overflow-y-auto overflow-x-hidden fixed inset-0 z-50 flex justify-center items-center w-full h-screen">
  <div class="relative p-4 w-full max-w-md max-h-full">
      <div class="relative bg-white rounded-lg shadow">
          <button (click)="closeModal()" type="button" class="absolute top-3 end-2.5 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center" data-modal-hide="popup-modal">
              <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                  <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
              </svg>
              <span class="sr-only">Close modal</span>
          </button>
          <div class="p-4 md:p-5 text-center">
              <svg class="mx-auto mb-4 text-black w-12 h-12" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                  <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 11V6m0 8h.01M19 10a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"/>
              </svg>
              <h3 class="mb-5 text-lg font-normal text-black">Ya hiciste la prueba. ¿Deseas volver a realizarla?</h3>
              <button (click)="closeModal()" data-modal-hide="popup-modal" type="button" class="text-white bg-red-600 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 font-medium rounded-lg text-sm inline-flex items-center px-5 py-2.5 text-center">
                  No
              </button>
              <button (click)="goToTestModal()" data-modal-hide="popup-modal" type="button" class="py-2.5 px-5 ms-3 text-sm font-medium text-gray-900 focus:outline-none bg-blue-600 rounded-lg border border-gray-200 hover:bg-blue-700 hover:text-black-700 focus:z-10 focus:ring-4 focus:ring-gray-100">Sí</button>
          </div>
      </div>
  </div>
</div>







   <!-- <main class="p-4 flex flex-row h-screen sm:flex-wrap sm:flex-col">
    
  
    <section class="flex flex-col w-2/5 sm:w-screen justify-around">
      <app-info-sec cardTitle="Realizar prueba">
        <div class="bg-gray-500 size-64"></div>
      </app-info-sec>
      <app-info-sec cardTitle="Estado de la prueba">
        <div class="bg-gray-500 size-64"></div>
      </app-info-sec>
    </section>
    <section class="flex-grow flex flex-col justify-center mb-4 sm:mb-0 sm:mr-4">
      <app-info-sec cardTitle="Recursos de información">
        <a href="#">
          <img class="w-30 h-72 " src="assets/mypyme.png" />
        </a>
      </app-info-sec>
    </section>
  </main>
   -->