<main class="p-4 px-24 flex flex-row h-screen sm:flex-wrap sm:flex-col justify-around background">
  <div class="bg-white text-blue-500 font-bold text-2xl p-6 m-2 rounded-lg shadow-lg border border-blue-700">
    Saludos empresa {{ user?.name }}
  </div>
  <section class="flex flex-col w-2/5 gap-y-20">
    <button class="bg-blue-500 text-white w-36 h-20 flex justify-center items-center rounded-2xl text-center">
      <i class="fas fa-play fa-3x"></i>
      <span class="ml-2">Realizar prueba</span>
    </button>
    <button class="bg-gray-500 text-white w-36 h-20 flex justify-center items-center rounded-2xl text-center">
      <i class="fas fa-check fa-2x"></i>
      <span class="ml-2">Estado de la prueba</span>
    </button>
  </section>

  <section class="flex-grow flex flex-col justify-center">
    <app-info-sec cardTitle="Recursos de información">
      <a target="_blank">
        <img class="w-30 h-72" src="assets/mypyme.png" />
      </a>
    </app-info-sec>
  </section>
</main>




   <!-- <main class="p-4 flex flex-row h-screen sm:flex-wrap sm:flex-col">
    
  
    <section class="flex flex-col w-2/5 sm:w-screen justify-around">
      <app-info-sec cardTitle="Realizar prueba">
        <div class="bg-gray-500 size-64"></div>
      </app-info-sec>
      <app-info-sec cardTitle="Estado de la prueba">
        <div class="bg-gray-500 size-64"></div>
      </app-info-sec>
    </section>
    <section class="flex-grow flex flex-col justify-center mb-4 sm:mb-0 sm:mr-4">
      <app-info-sec cardTitle="Recursos de información">
        <a href="#">
          <img class="w-30 h-72 " src="assets/mypyme.png" />
        </a>
      </app-info-sec>
    </section>
  </main>
   -->