<nav>
    <div class="navbar shadow-lg">
        <div id="estramipyme-logo" (click)="goLandingPage()">
            <img src="assets/images/estramipyme-logo.png" alt="Estramipyme logo" class="estramipyme-logo">
            <span>Estramipyme</span>
        </div>
        <div class="content-section">
            <div class="left-section">
                <div class="logo-section">
                    <a href="https://www.eafit.edu.co/" target="_blank">
                        <img src="assets/images/logo-eafit.png" alt="Eafit logo" class="eafit-logo">
                    </a>
                </div>
                <button *ngIf="isDashBoardRoute()" (click)="goInicioDashboard()"  class="rounded border border-gray-300">
                    <span>Inicio</span>
                    <img src="assets/images/home.png" alt="Icono perfil" class="button-icon">
                </button>
                <button *ngIf="isDashBoardRoute()" (click)="goPerfilUser()" class="rounded border border-gray-300">
                    <span>Perfil</span>
                    <img src="assets/images/user.png" alt="Icono perfil" class="button-icon">
                </button>
                <button *ngIf="isDashBoardAdmin()" (click)="goPruebas()" class="rounded border border-gray-300">
                    <span>Pruebas</span>
                    <img src="assets/images/test.png" alt="Icono perfil" class="button-icon">
                </button>
            </div>
            <div class="right-section">
                <button *ngIf="isDashBoardRoute() || isDashBoardAdmin()" (click)="cerrarSesion()" class="rounded border border-gray-300">
                    <span>Cerrar Sesión</span>
                    <img src="assets/images/log-out.png" alt="Icono log out" class="button-icon">
                </button>
                <button *ngIf="registrarseCondition()" (click)="registrarse()" class="rounded border border-gray-300">
                    <span>Registrarse</span>
                    <img src="assets/images/user.png" alt="Icono perfil" class="button-icon">
                </button>
                <button *ngIf="iniciarSesionCondition()" (click)="iniciarSesion()" class="rounded border border-gray-300">
                    <span>Iniciar Sesión</span>
                    <img src="assets/images/user.png" alt="Icono perfil" class="button-icon">
                </button>
                <app-setting>Setting</app-setting>
                
            </div>
        </div>
        <!-- Code for mobile -->
        <div class="menu">
            <button (click)="toggleMobileMenu()" class="rounded border border-gray-300">
                <img src="assets/images/menu.png" alt="Menu" class="menu-icon">
            </button>
            <div class="mobile-menu" [ngClass]="{ 'active': showMobileMenu }">
                <button *ngIf="isDashBoardRoute()" (click)="goInicioDashboardMobile()">
                    <span>Inicio</span>
                    <img src="assets/images/home.png" alt="Icono perfil" class="button-icon">
                </button>
                <button *ngIf="isDashBoardRoute()" (click)="goPerfilUserMobile()" class="rounded border border-gray-300">
                    <span>Perfil</span>
                    <img src="assets/images/user.png" alt="Icono perfil" class="button-icon">
                </button>
                <button *ngIf="isDashBoardRoute() || isDashBoardAdmin()" (click)="cerrarSesion()" class="rounded border border-gray-300">
                    <span>Cerrar Sesión</span>
                    <img src="assets/images/log-out.png" alt="Icono log out" class="button-icon">
                </button>
                <button *ngIf="registrarseCondition()" (click)="registrarse()" class="rounded border border-gray-300">
                    <span>Registrarse</span>
                    <img src="assets/images/user.png" alt="Icono perfil" class="button-icon">
                </button>
                <button *ngIf="iniciarSesionCondition()" (click)="iniciarSesion()" class="rounded border border-gray-300">
                    <span>Iniciar Sesión</span>
                    <img src="assets/images/user.png" alt="Icono perfil" class="button-icon">
                </button>
            </div>
        </div>
    </div>
</nav>
