<div class="min-h-screen flex flex-col items-center justify-center">
  <app-navbar class="navbar w-full"></app-navbar>

  <div class="container mx-auto px-4 mt-5">
    <div class="flex justify-center items-center min-h-screen">
      <div class="w-full max-w-4xl">
        <div class="bg-white shadow-2xl rounded-lg overflow-hidden">
          <div class="flex flex-col lg:flex-row">
            <div class="hidden lg:block lg:w-1/2">
              <img src="assets/images/imgRegister/primerImg.png" alt="register form" class="w-full h-full object-cover" />
            </div>
            <div class="w-full lg:w-1/2 flex items-center">
              <div class="p-8 text-black w-full form-container">
                <div class="main-container">
                  <div id="error-message" class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative mb-4" role="alert" style="display:none;">
                  </div>
                  <h1 class="font-bold pt-4 text-center text-xl">Regístrate a EstramyPyme!</h1>

                  <form [formGroup]="registerForm" (ngSubmit)="register()" class="grid grid-cols-1 lg:grid-cols-2 gap-4 p-4">
                    <div class="mb-2">
                      <label for="name" class="block text-gray-700">Nombre o Razón Social</label>
                      <input id="name" type="text" formControlName="name"
                        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" [ngClass]="{'is-invalid': registerForm.get('name')?.invalid && registerForm.get('name')?.touched, 'is-valid': registerForm.get('name')?.valid && registerForm.get('name')?.touched}" required>
                    </div>
                    <div class="mb-2">
                      <label for="password" class="block text-gray-700">Contraseña</label>
                      <input id="password" type="password" formControlName="password"
                        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" [ngClass]="{'is-invalid': registerForm.get('password')?.invalid && registerForm.get('password')?.touched, 'is-valid': registerForm.get('password')?.valid && registerForm.get('password')?.touched}" required>
                    </div>
                    <div class="mb-2">
                      <label for="email" class="block text-gray-700">Correo Electrónico</label>
                      <input id="email" type="email" formControlName="email"
                        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" [ngClass]="{'is-invalid': registerForm.get('email')?.invalid && registerForm.get('email')?.touched, 'is-valid': registerForm.get('email')?.valid && registerForm.get('email')?.touched}" required>
                    </div>
                    <div class="mb-2">
                      <label for="typeUser" class="block text-gray-700">Tipo de persona</label>
                      <select id="typeUser" (change)="openTypeUserModal()" formControlName="typeUser" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" required>
                        <option value="0">Seleccione</option>
                        <option value="1">Natural</option>
                        <option value="2">Jurídica</option>
                      </select>
                    </div>
                    <div class="mb-2">
                      <label for="id" class="block text-gray-700">Identificación</label>
                      <input id="id" type="number" formControlName="id"
                        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" [ngClass]="{'is-invalid': registerForm.get('id')?.invalid && registerForm.get('id')?.touched, 'is-valid': registerForm.get('id')?.valid && registerForm.get('id')?.touched}" required>
                    </div>
                    <div class="mb-2">
                      <label for="sizeCompany" class="block text-gray-700">Tamaño de la empresa</label>
                      <select id="sizeCompany" (change)="openSizeCompanyModal()" formControlName="sizeCompany" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" required>
                        <option value="0">Seleccione</option>
                        <option value="1">Pequeña</option>
                        <option value="2">Mediana</option>
                        <option value="3">Grande</option>
                      </select>
                    </div>
                    <div class="mb-4 col-span-1 lg:col-span-2">
                      <label for="sector" class="block text-gray-700">Sector al que pertenece la empresa</label>
                      <select id="sector" (change)="openSectorModal()" formControlName="sector" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" required>
                        <option value="0">Seleccione</option>
                        <option value="1">Sector Agrícola</option>
                        <option value="2">Sector Industrial</option>
                        <option value="3">Sector Servicios</option>
                        <option value="4">Sector Construcción</option>
                      </select>
                    </div>
                    <div class="col-span-1 lg:col-span-2">
                      <button type="submit" class="bg-black hover:bg-gray-800 text-white font-bold py-2 px-4 rounded w-full">Registrar</button>
                    </div>
                  </form>
                  <div class="pb-5">
                    <p class="text-center text-sm text-gray-600">¿No estás seguro de cómo clasificar tu empresa? <a href="/help-user" class="custom-link">Necesito ayuda</a></p>
                    <p class="text-center text-sm text-gray-600 mt-2">¿Ya tienes una cuenta? <a href="/login" class="custom-link">Inicia sesión</a></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modals -->
<div *ngIf="isTypeUserModalOpen" class="fixed z-10 inset-0 overflow-y-auto">
  <div class="flex items-center justify-center min-h-screen px-4">
    <div class="fixed inset-0 transition-opacity" aria-hidden="true">
      <div class="absolute inset-0 bg-gray-500 opacity-75"></div>
    </div>
    <div class="bg-white rounded-lg overflow-hidden shadow-xl transform transition-all sm:max-w-lg sm:w-full">
      <div class="bg-white px-4 pt-5 pb-4 sm:p-6 sm:pb-4">
        <div class="sm:flex sm:items-start">
          <div class="mt-3 text-center sm:mt-0 sm:ml-4 sm:text-left">
            <h3 class="text-lg leading-6 font-medium text-gray-900">Confirmación</h3>
            <div class="mt-2">
              <p class="text-sm text-gray-500">¿Estás seguro de que deseas seleccionar este tipo de persona?</p>
            </div>
          </div>
        </div>
      </div>
      <div class="bg-gray-50 px-4 py-3 sm:px-6 sm:flex sm:flex-row-reverse">
        <button type="button" class="w-full inline-flex justify-center rounded-md border border-transparent shadow-sm px-4 py-2 bg-blue-600 text-base font-medium text-white hover:bg-blue-700 sm:ml-3 sm:w-auto sm:text-sm" (click)="confirmTypeUserAction()">Confirmar</button>
        <button type="button" class="mt-3 w-full inline-flex justify-center rounded-md border border-gray-300 shadow-sm px-4 py-2 bg-white text-base font-medium text-gray-700 hover:bg-gray-50 sm:mt-0 sm:w-auto sm:text-sm" (click)="closeTypeUserModal()">Cancelar</button>
      </div>
    </div>
  </div>
</div>

<div *ngIf="isSizeCompanyModalOpen" class="fixed z-10 inset-0 overflow-y-auto">
  <div class="flex items-center justify-center min-h-screen px-4">
    <div class="fixed inset-0 transition-opacity" aria-hidden="true">
      <div class="absolute inset-0 bg-gray-500 opacity-75"></div>
    </div>
    <div class="bg-white rounded-lg overflow-hidden shadow-xl transform transition-all sm:max-w-lg sm:w-full">
      <div class="bg-white px-4 pt-5 pb-4 sm:p-6 sm:pb-4">
        <div class="sm:flex sm:items-start">
          <div class="mt-3 text-center sm:mt-0 sm:ml-4 sm:text-left">
            <h3 class="text-lg leading-6 font-medium text-gray-900">Confirmación</h3>
            <div class="mt-2">
              <p class="text-sm text-gray-500">¿Estás seguro de que deseas seleccionar este tamaño de empresa?</p>
            </div>
          </div>
        </div>
      </div>
      <div class="bg-gray-50 px-4 py-3 sm:px-6 sm:flex sm:flex-row-reverse">
        <button type="button" class="w-full inline-flex justify-center rounded-md border border-transparent shadow-sm px-4 py-2 bg-blue-600 text-base font-medium text-white hover:bg-blue-700 sm:ml-3 sm:w-auto sm:text-sm" (click)="confirmSizeCompanyAction()">Confirmar</button>
        <button type="button" class="mt-3 w-full inline-flex justify-center rounded-md border border-gray-300 shadow-sm px-4 py-2 bg-white text-base font-medium text-gray-700 hover:bg-gray-50 sm:mt-0 sm:w-auto sm:text-sm" (click)="closeSizeCompanyModal()">Cancelar</button>
      </div>
    </div>
  </div>
</div>

<div *ngIf="isSectorModalOpen" class="fixed z-10 inset-0 overflow-y-auto">
  <div class="flex items-center justify-center min-h-screen px-4">
    <div class="fixed inset-0 transition-opacity" aria-hidden="true">
      <div class="absolute inset-0 bg-gray-500 opacity-75"></div>
    </div>
    <div class="bg-white rounded-lg overflow-hidden shadow-xl transform transition-all sm:max-w-lg sm:w-full">
      <div class="bg-white px-4 pt-5 pb-4 sm:p-6 sm:pb-4">
        <div class="sm:flex sm:items-start">
          <div class="mt-3 text-center sm:mt-0 sm:ml-4 sm:text-left">
            <h3 class="text-lg leading-6 font-medium text-gray-900">Confirmación</h3>
            <div class="mt-2">
              <p class="text-sm text-gray-500">¿Estás seguro de que deseas seleccionar este sector?</p>
            </div>
          </div>
        </div>
      </div>
      <div class="bg-gray-50 px-4 py-3 sm:px-6 sm:flex sm:flex-row-reverse">
        <button type="button" class="w-full inline-flex justify-center rounded-md border border-transparent shadow-sm px-4 py-2 bg-blue-600 text-base font-medium text-white hover:bg-blue-700 sm:ml-3 sm:w-auto sm:text-sm" (click)="confirmSectorAction()">Confirmar</button>
        <button type="button" class="mt-3 w-full inline-flex justify-center rounded-md border border-gray-300 shadow-sm px-4 py-2 bg-white text-base font-medium text-gray-700 hover:bg-gray-50 sm:mt-0 sm:w-auto sm:text-sm" (click)="closeSectorModal()">Cancelar</button>
      </div>
    </div>
  </div>
</div>