.form-container {
    background-color: #1C1C62;
  }
  
  .main-container {
    background-color: #ffffff67;
  }

  .custom-link {
    color: black;
    transition: color 0.3s ease;
  }
  
  .custom-link:hover {
    color: rgb(255, 255, 255);
  }

  button {
    background-color: #212529;
    color: white;
    font-weight: bold; 
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    width: 100%; 
    border: 2px solid #212529;
    transition: background-color 0.3s, color 0.3s;
  
    &:hover {
      background-color: white;
      color: black;
      border: 2px solid #212529;
    }
  }


  .is-invalid {
    border-color: red;
  }
  
  .is-valid {
    border-color: green;
  }
  
  