<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">



<div class="h-screen w-full grid place-items-center">
    
        <div class="nav">
            <app-navbar></app-navbar>
        </div>
        <div class="mx-auto">
            <img  src="assets/images/imgLanding/tercerImg.png" alt="">
        </div>  
        <div class="flex flex-col gap-y-20"> 
        <div class="image-wrapper justify-center w-5/6 mx-auto flex items-center">         
            <div class="content-inner flex flex-col justify-center items-center"> 
                <div class="title">
                    <h1 class="font-bold">¡Bienvenidos a EstramyPyme!</h1>
                </div>
                <div class="title2">
                    <h2 class="font-bold">¿Qué es EstramyPyme?</h2>
                </div>
                <div class="text1">
                    <p>Descubre una herramienta interactiva diseñada para evaluar y mejorar las estrategias empresariales de tu empresa. Inspirados en el libro "EstraMyPyme" de la Editorial EAFIT, hemos creado una plataforma web que te permitirá realizar pruebas diagnósticas detalladas y obtener resultados personalizados para potenciar el rendimiento y la competitividad de tu negocio.</p>
                </div>
                <div class="flex gap-x-20 mt-5">
                    <div>
                        <div class="btn">
                            <p>Vamos a comenzar</p>
                        </div>
                    </div>
                    <div>
                        <div class="btn2">
                            <p>Vamos a comenzar</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
       
        <div class="flex w-full px-4 md:px-8 lg:px-16">
            <div class="flex w-full">
                <div class="flex-1">
                    <div class="objetivo m-4">
                        <h1 class="font-bold">Nuestro Objetivo</h1>
                    </div>
                    <div class="flex flex-col gap-y-20">
                        <p class="font-light text-justify">
                            En EstramyPyme, nos proponemos ofrecerte una herramienta innovadora y accesible para evaluar y optimizar tus estrategias empresariales. Nuestra plataforma está diseñada tanto para individuos como para empresas de todos los tamaños y sectores, proporcionando análisis detallados y gráficos interactivos que facilitan la toma de decisiones informadas.
                        </p>
                        <div>
                            <div class="btn3">
                                <p>Vamos a comenzar</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="flex-1">
                    <img class="img2" src="assets/images/imgLanding/segundaImg.png" alt="">
                </div>
            </div>
        </div>
    </div>
</div>