.main-container {
    background-color: #F4F5F7;
}

.contenedorr {
    background-color: #ffffff;
    padding: 3%;
    border-radius: 15px;
}
.letra{
    color:#A5A6AD;
}

.objetivo {
    color: #000066;
    font-size: 70px;
}

.kanit-bold {

    font-family: "Kanit", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.kanit-extralight {
    font-family: "Kanit", sans-serif;
    font-weight: 200;
    font-style: normal;
    text-align: justify;
}


.img2 {

    width: 100%;
    height: auto;

}

p {
    font-family: 'Playfair Display', serif;
    text-align: center;
    font-size: 18px;
}

.btn3 {
    background-color: #000066;
    padding: 10px 20px;
    border-radius: 5px;
    text-align: center;
    display: inline-block;
    cursor: pointer;
    color: white;
    transition: background-color 0.3s;
}

.btn2 {
    background-color: #333399aa;
    padding: 10px 20px;
    border-radius: 5px;
    text-align: center;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    transition: background-color 0.3s;
}

.btn {
    background-color: #fbd7cb;
    padding: 10px 20px;
    border-radius: 5px;
    text-align: center;
    display: inline-block;
    cursor: pointer;
    color: #000066;
    transition: background-color 0.3s;
}
.btn:hover {
    background-color: #FD673E;
}

.btn2:hover {
    background-color: #000066;
}

.btn3:hover {
    background-color: #333399;
}


.title {
    font-size: 50px;
    font-family: 'Playfair Display', serif;
    color: #ffffff;
}

.title2 {
    font-size: 40px;
    font-family: 'Playfair Display', serif;
    color: #fbd7cb;
}

.text1 {
    font-family: 'Playfair Display', serif;
    text-align: center;
    font-size: 18px;

}

.image-wrapper {
    background-image: url('../../../../public/assets/images/imgLanding/primerImg.png');
    background-size: cover; 
    background-position: center; 
    height: 500px; 
    padding: 5%;
    border-radius: 15px;
}

.content-inner {
    color: white;
}