<button id="open-settings-btn" class="btn btn-primary rounded border border-gray-300">
<span>Configuración</span>
<img src="assets/images/imgNav/configuraciones.png" alt="Icono log out" class="button-icon ml-2">
</button>

<div class="fixed inset-0 flex justify-end bg-gray-800 bg-opacity-75 z-50 hidden" id="theme-settings-offcanvas" role="dialog" aria-modal="true">
    <div class="w-1/3 bg-white h-full overflow-y-auto">
        <!-- Close button -->
        <button id="close-settings-btn" class="btn btn-secondary">Cerrar Configuración</button>
        
        <!-- Nav tabs -->
        <div class="flex items-center w-full p-0 border-b">
            <ul class="flex justify-around w-full" role="tablist">
                <li class="nav-item" role="presentation">
                    <a class="py-2" href="#chat-tab" role="tab" aria-selected="false" tabindex="-1">
                        <i class="mdi mdi-message-text text-xl my-1"></i>
                    </a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="py-2" href="#tasks-tab" role="tab" aria-selected="false" tabindex="-1">
                        <i class="mdi mdi-format-list-checkbox text-xl my-1"></i>
                    </a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="py-2 active" href="#settings-tab" role="tab" aria-selected="true">
                        <i class="mdi mdi-cog-outline text-xl my-1"></i>
                    </a>
                </li>
            </ul>
        </div>

        <div class="p-3 h-full overflow-y-auto">
            <!-- Tab panes -->
            <div class="tab-content pt-0">
                <div class="tab-pane active show" id="settings-tab" role="tabpanel">
                    <div class="mt-3">
                        <h6 class="font-medium py-2 px-3 text-sm uppercase bg-gray-100 mx-3 mt-3 mb-3">
                            <span class="block py-1">Configuración del Tema</span>
                        </h6>
                    </div>

                    <div class="alert alert-warning" role="alert">
                        <strong>Personaliza </strong> el esquema de colores general, el menú de la barra lateral, etc.
                    </div>

                    <h5 class="font-medium text-sm mt-4 mb-2 pb-1">Esquema de Colores</h5>
                    <div class="flex flex-col gap-2">
                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" name="data-bs-theme" id="layout-color-light" value="light">
                            <label class="form-check-label" for="layout-color-light">Claro</label>
                        </div>
                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" name="data-bs-theme" id="layout-color-dark" value="dark">
                            <label class="form-check-label" for="layout-color-dark">Oscuro</label>
                        </div>
                    </div>

                    <h5 class="font-medium text-sm mt-4 mb-2 pb-1">Ancho del Contenido</h5>
                    <div class="flex flex-col gap-2">
                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" name="data-layout-width" id="layout-width-default" value="default">
                            <label class="form-check-label" for="layout-width-default">Fluido (Predeterminado)</label>
                        </div>
                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" name="data-layout-width" id="layout-width-boxed" value="boxed">
                            <label class="form-check-label" for="layout-width-boxed">Enmarcado</label>
                        </div>
                    </div>

                    <h5 class="font-medium text-sm mt-4 mb-2 pb-1">Color de la Barra Superior</h5>
                    <div class="flex flex-col gap-2">
                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" name="data-topbar-color" id="topbar-color-light" value="light">
                            <label class="form-check-label" for="topbar-color-light">Claro</label>
                        </div>
                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" name="data-topbar-color" id="topbar-color-dark" value="dark">
                            <label class="form-check-label" for="topbar-color-dark">Oscuro</label>
                        </div>
                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" name="data-topbar-color" id="topbar-color-brand" value="brand">
                            <label class="form-check-label" for="topbar-color-brand">Marca</label>
                        </div>
                    </div>

                    <h5 class="font-medium text-sm mt-4 mb-2 pb-1">Tono del Icono del Menú</h5>
                    <div class="flex flex-col gap-2">
                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" name="data-menu-icon" id="menu-icon-default" value="default">
                            <label class="form-check-label" for="menu-icon-default">Predeterminado</label>
                        </div>
                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" name="data-menu-icon" id="menu-icon-twotone" value="twotones">
                            <label class="form-check-label" for="menu-icon-twotone">Bicolor</label>
                        </div>
                    </div>

                    <h5 class="font-medium text-sm mt-4 mb-2 pb-1">Tamaño de la Barra Lateral</h5>
                    <div class="flex flex-col gap-2">
                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" name="data-sidenav-size" id="leftbar-size-default" value="default">
                            <label class="form-check-label" for="leftbar-size-default">Predeterminado</label>
                        </div>
                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" name="data-sidenav-size" id="leftbar-size-compact" value="compact">
                            <label class="form-check-label" for="leftbar-size-compact">Compacto (Ancho Medio)</label>
                        </div>
                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" name="data-sidenav-size" id="leftbar-size-small" value="condensed">
                            <label class="form-check-label" for="leftbar-size-small">Condensado (Vista de Iconos)</label>
                        </div>
                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" name="data-sidenav-size" id="leftbar-size-full" value="full">
                            <label class="form-check-label" for="leftbar-size-full">Diseño Completo</label>
                        </div>
                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" name="data-sidenav-size" id="leftbar-size-fullscreen" value="fullscreen">
                            <label class="form-check-label" for="leftbar-size-fullscreen">Diseño de Pantalla Completa</label>
                        </div>
                    </div>

                    <h5 class="font-medium text-sm mt-4 mb-2 pb-1">Información del Usuario en la Barra Lateral</h5>
                    <div class="form-check form-switch">
                        <input type="checkbox" class="form-check-input" name="data-sidebar-user" id="sidebaruser-check">
                        <label class="form-check-label" for="sidebaruser-check">Habilitar</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

