
<app-navbar></app-navbar>


<main class="p-4  px-24 flex flex-row h-screen sm:flex-wrap sm:flex-col justify-around  background">
  <section class="flex flex-col w-2/5 gap-y-20 ">
    <app-info-sec cardTitle="Realizar prueba">
      <div class="bg-gray-500 size-64"></div>
    </app-info-sec>
    <app-info-sec cardTitle="Estado de la prueba">
      <div class="bg-gray-500 size-64"></div>
    </app-info-sec>
  </section>

  <section class="flex-grow flex flex-col justify-center">
    <app-info-sec cardTitle="Recursos de información">
      <a
        class=""
        href="https://eafit.sharepoint.com/:b:/r/sites/FRONTEND2416-GrupoMusk/Materiales%20de%20clase/Reto_Estramypime_2024_06_13/Libro_EstramyPyme_VERSIO%CC%81N+DIGITAL_EditorialEAFIT%20(3).pdf?csf=1&web=1&e=zQNiQA"
        target="_blank"
      >
        <img class="w-30 h-72" src="assets/mypyme.png" /> </a
    ></app-info-sec>
  </section>
</main>

 
   <!-- <main class="p-4 flex flex-row h-screen sm:flex-wrap sm:flex-col">
    
  
    <section class="flex flex-col w-2/5 sm:w-screen justify-around">
      <app-info-sec cardTitle="Realizar prueba">
        <div class="bg-gray-500 size-64"></div>
      </app-info-sec>
      <app-info-sec cardTitle="Estado de la prueba">
        <div class="bg-gray-500 size-64"></div>
      </app-info-sec>
    </section>
    <section class="flex-grow flex flex-col justify-center mb-4 sm:mb-0 sm:mr-4">
      <app-info-sec cardTitle="Recursos de información">
        <a href="#">
          <img class="w-30 h-72 " src="assets/mypyme.png" />
        </a>
      </app-info-sec>
    </section>
  </main>
   -->